.routes{
    position:relative;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}
li{
    margin: 2px;
    padding: 5px;
    align-content: space-between;
    box-shadow: 1px 1px 2px #f25;
}
li:hover{
    margin: 2px;
    padding: 5px;
    align-content: space-between;
    background-color: #f25;
}