<div>
    <form>
        <h3>Add User:</h3> 
        <hr>
        <label for="userId">User Id:</label>
        <input type="number" name="userId" value={userId} disabled>
        <label for="userName">User Name:</label>
        <input>
        <label for="stateId">State Id:</label>
        <select>
            <option disabled selected>--Select State--</option>
            <option  *ngFor="let state of states">{{state.stateName}}-{{state.stateId}}</option>
        </select>
        <input type="submit">
    </form>
</div>