<div>
    <form>
        <h3>Add User:</h3> 
        <hr>
        <input type="number" name="userId" [(ngModel)]="userId" placeholder="User Id" min="0">
        <input type="text" name="userName" [(ngModel)]="userName" placeholder="User Name">
        <select [(ngModel)]="state" [ngModelOptions]="{standalone:true}" aria-placeholder="Select State">
            <option  *ngFor="let stat of states" [ngValue]="stat">{{stat.stateName}}</option>
        </select>
        <input type="submit" (click)="saveUser()">
        <input type="submit" (click)="showUsers()" value="Display">
        <p>
            <li *ngFor="let user of users">{{user.userId}}:{{user.userName}}:{{user.state.stateName}}</li>
        </p>
    </form>

</div>